.common {
	FONT: 10pt Verdana, Arial, Helvetica, sans-serif; COLOR: #000000; BACKGROUND-COLOR: #fbecce
}
.common_dark {
	FONT-SIZE: 10pt; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #f9a600
}
.common_contrast {
	FONT-SIZE: 10pt; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #001852
}
.nedl {
	FONT: 10pt sans-serif; COLOR: #000000; BACKGROUND-COLOR: #c9e6ea
}
.nedl_dark {
	FONT-SIZE: 10pt; COLOR: #ffffff; FONT-FAMILY: sans-serif; BACKGROUND-COLOR: #006779
}
.nedl_contrast {
	FONT-SIZE: 10pt; COLOR: #ffffff; FONT-FAMILY: sans-serif; BACKGROUND-COLOR: #df002c
}
.yedl {
	FONT: 10pt Verdana, Arial, Helvetica, sans-serif; COLOR: #001850; BACKGROUND-COLOR: #ffccad
}
.yedl_contrast {
	FONT-SIZE: 10pt; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #19944a
}
.yedl_dark {
	FONT-SIZE: 10pt; COLOR: #001850; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ff6600
}
.ius {
	PADDING-RIGHT: 15px; PADDING-LEFT: 15px; FONT-SIZE: 10pt; PADDING-BOTTOM: 15px; COLOR: #000000; PADDING-TOP: 15px; FONT-FAMILY: verdana, arial, helvetica, sans-serif; BACKGROUND-COLOR: #e0fff4
}
.ius_dark {
	FONT-SIZE: 10pt; COLOR: #ff9900; FONT-FAMILY: sans-serif; BACKGROUND-COLOR: #218463
}
.ius_contrast {
	FONT-SIZE: 10pt; COLOR: #000000; FONT-FAMILY: sans-serif; BACKGROUND-COLOR: #eb8c00
}
A.local:link {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #000080; TEXT-DECORATION: none
}
A.local:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #000080; TEXT-DECORATION: none
}
A.common_app:link {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #000080; TEXT-DECORATION: none
}
A.common_app:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #000080; TEXT-DECORATION: none
}
A.nedl_app:link {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #000080; TEXT-DECORATION: none
}
A.nedl_app:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #000080; TEXT-DECORATION: none
}
A.yedl_app:link {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #000080; TEXT-DECORATION: none
}
A.yedl_app:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #000080; TEXT-DECORATION: none
}
A.ius_app:link {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #000080; TEXT-DECORATION: none
}
A.ius_app:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #000080; TEXT-DECORATION: none
}
A.ext:link {
	FONT-SIZE: 10pt; COLOR: #800080; TEXT-DECORATION: none
}
A.ext:visited {
	FONT-SIZE: 10pt; COLOR: #800080; TEXT-DECORATION: none
}
A.local:hover {
	FONT-SIZE: 10pt; COLOR: #c71585; TEXT-DECORATION: underline
}
A.ext:hover {
	FONT-SIZE: 10pt; COLOR: #c71585; TEXT-DECORATION: underline
}
A.yedl_app:hover {
	DISPLAY: block; FONT-SIZE: 10pt; COLOR: #ffffff; BACKGROUND-COLOR: #19944a; TEXT-DECORATION: underline
}
A.nedl_app:hover {
	DISPLAY: block; FONT-SIZE: 10pt; WIDTH: 100%; COLOR: #ffffff; BACKGROUND-COLOR: #df002c; TEXT-DECORATION: underline
}
A.ius_app:hover {
	DISPLAY: block; FONT-SIZE: 10pt; COLOR: #000000; BACKGROUND-COLOR: #eb8c00; TEXT-DECORATION: underline
}
A.common_app:hover {
	DISPLAY: block; FONT-SIZE: 10pt; COLOR: #ffffff; BACKGROUND-COLOR: #001852; TEXT-DECORATION: underline
}
A.ext_app:hover {
	FONT-SIZE: 10pt; COLOR: #c71585; TEXT-DECORATION: underline
}
.breaknews {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #800000; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.breaknews A:link {
	FONT-SIZE: 10pt; COLOR: #ff0000
}
.breaknews A:hover {
	FONT-SIZE: 10pt; COLOR: #ff0000; TEXT-DECORATION: underline
}
H1.yedl {
	FONT-WEIGHT: bold; FONT-SIZE: 18pt; COLOR: #001850; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ff6600; TEXT-DECORATION: none
}
H1.nedl {
	FONT-WEIGHT: bold; FONT-SIZE: 18pt; COLOR: #ffffff; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #006779; TEXT-DECORATION: none
}
H1.ius {
	FONT-WEIGHT: bold; FONT-SIZE: 18pt; COLOR: #ff9900; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #218463; TEXT-DECORATION: none
}
H1 {
	FONT-WEIGHT: bold; FONT-SIZE: 18pt; COLOR: #001852; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #f9a600; TEXT-DECORATION: none
}
H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 14pt; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #001852; PADDING-TOP: 0px; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
H3 {
	FONT-WEIGHT: bold; FONT-SIZE: 12pt; COLOR: #001852; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.copy {
	FONT-WEIGHT: normal; FONT-SIZE: 10pt; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.boldcopy {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.smallcopy {
	FONT-WEIGHT: normal; FONT-SIZE: 7pt; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.italiccopy {
	FONT-WEIGHT: normal; FONT-SIZE: 10pt; FONT-STYLE: italic; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.path {
	FONT-SIZE: 10pt; FONT-STYLE: italic
}
.path A {
	COLOR: #0000ff; TEXT-DECORATION: none
}
.links TABLE {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; BORDER-LEFT: medium none; BORDER-BOTTOM: medium none
}
.links TR {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; BORDER-LEFT: medium none; BORDER-BOTTOM: medium none
}
.links TD {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; BORDER-LEFT: medium none; BORDER-BOTTOM: medium none
}
.oddline {
	FONT-WEIGHT: normal; FONT-SIZE: 10pt; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #99cc99
}
.evenline {
	FONT-WEIGHT: normal; FONT-SIZE: 10pt; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #e9c594
}
.description {
	FONT-SIZE: 10pt; FONT-STYLE: italic
}
.menulink A {
	PADDING-RIGHT: 2px; DISPLAY: block; PADDING-LEFT: 2px; FONT-SIZE: 10pt; PADDING-BOTTOM: 15px; WIDTH: 100%; COLOR: #000000; TEXT-INDENT: 2px; PADDING-TOP: 15px; TEXT-DECORATION: none
}
.menulink A:hover {
	FONT-SIZE: 10pt; CURSOR: hand; BACKGROUND-COLOR: #ccffff
}
.content H2 {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
